
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="./assets/normalize.css" />
<link rel="stylesheet" href="./assets/login.css" />
<script src="./assets/jquery.min.js"></script>
<title>网络认证登录</title>
</head>
<body>
<div class="background">
</div>
<div style="text-align:center">
<div class="container">
    <div class="row header">
    </div>
    <div class="row">
        <div class="wrap">
            <div class="notice-panel">
                <div class="notice-title">
                    通知
                </div>
                <div class="notice-content">
                    1、	准入认证的用户名和密码与登录校园网计费认证网关相同。
2、	认证通过以后可以访问校园网内网资源，如要访问外网需要进行校园网准出认证。
                </div>
            </div><div class="login-panel">
                <div class="login-success" style="display: none;">
                    <div class="login-panel__title">
                        网络认证登录
                    </div>
                    <h3 class="center title">登录成功</h3>
                    <div class="notice-content">
                            <div>您已经登录成功</div>
                            <div>You have successfully logged in</div>
                            <div>在完成工作后，请别忘记注销</div>
                            <div>Please remember to log out</div>
                    </div>

                    <div class="login-about">
                        <a href='http://netaccount.bupt.edu.cn/login'>进入自服务系统</a>
                    </div>

                    <button type="submit" class="el-button ex-width el-button--primary" style="margin-bottom:20px;" onclick="logout()">
                        <span>登出</span>
                    </button>
                </div>
                <div class="login-process" style="min-height: 400px">
                    <div class="login-panel__title">
                        网络认证登录
                    </div>
                    <h3 class="center title">正在拨号，请等待...</h3>
                    <div style="text-align:center;margin-top:60px;margin-bottom:40px">
                        <img src="/assets/loading.gif" border="0"/>
                    </div>
                </div>

            
            </div>

            <div class="mobile-notice-panel">
                <div class="notice-content">
                    1、	准入认证的用户名和密码与登录校园网计费认证网关相同。
2、	认证通过以后可以访问校园网内网资源，如要访问外网需要进行校园网准出认证。
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
</div>
</div>
<script>
var sec;
var intervalId = 0;
$(function(){
    $('.effect').on('blur',function(){
        if($(this).val() != ''){
            $(this).siblings('label').addClass('trans');
        }else{
            $(this).siblings('label').removeClass('trans');
        }
    })
    searchCode()
    var time = 0
    function searchCode () {
        $.get('/dial', function (res) {
            if (res.code === 0) {
                $('.login-process').css('display', 'none')
                $('.login-success').css('display', 'block')
                clearInterval()
            } else {
                if (time < 30) {
                    setTimeout(function () {
                        time += 2
                        searchCode()
                    }, 2000)
                } else {
                    alert('拨号失败！请联系运营商。')
                    window.location.href = '/logout'
                }
            }
        })
    }
});
function login() {
        var loginForm = document.forms[0];
        var user = loginForm.user.value;
        var password = loginForm.pass.value;
        if($('#uam').prop('checked')){
                $('#fakeUam').attr('disabled', true)
        }else {
                $('#fakeUam').attr('disabled', false)
        }
        if (user == "" || user == "账号 Account") {
                alert("请输入用户名");
                return false;
        }
        else if (password == "" || password == undefined) {
                alert("请输入密码");
                return false;
        }
        return true;
}
function logout() {
        if (window.confirm("确定注销? Logout Confirmed?")) {
                window.location = "./logout";
        }
}
</script>
<!--[if lte IE 7]> <style> .login-panel{ float:left; } .notice-panel{ float:left; width: 370px; } </style> <![endif]-->
</body>
</html>
